@using FirstProject.Web.Models.Common.Modals

@model FirstProject.Web.Models.Books.IndexViewModel

@{ Layout = null; }
<div class="modal fade" id="BookCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateBook")))
            <form method="post" enctype="multipart/form-data" id="BookCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" href="#create-book-details">@L("BookDetails")</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#create-book-categories">@L("Categories")</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4">
                        <div role="tabpanel" class="tab-pane container active" id="create-book-details">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" style="align-self: flex-end;" for="username">@L("CoverImage")</label>
                                <div class="col-md-9">
                                    <div id="image-cover-thumbnail">
                                        <img style="height:100px" src="" id="thumbnail" alt="Cover image">
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="form-control custom-file-input" name="CoverImage" id="input-change-cover-image" />
                                        <label class="custom-file-label">Choose image</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="username">@L("Title")</label>
                                <div class="col-md-9">
                                    <input id="username" type="text" class="form-control" name="Title" required maxlength="256" minlength="2">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="name">@L("Description")</label>
                                <div class="col-md-9">
                                    <input id="name" type="text" class="form-control" name="Description" required maxlength="@(64*1024)">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="surname">@L("InventoryNumber")</label>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" name="InventoryNumber" required>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="surname">@L("BookState")</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="State" asp-items=Model.GetBooksStateSelectListItems(LocalizationManager)>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="surname">@L("Publisher")</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="PublisherId" asp-items=Model.GetPublisherSelectListItems()>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="surname">@L("PublishDate")</label>
                                <div class="col-md-9">
                                    <input id="datetimepicker" type="text" class="form-control" readonly name="PublishDate" required>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container" id="create-book-categories">
                            <div class="row">
                                @foreach (var c in Model.categoryDtos.Items)
                                {
                                    <div class="col-md-6">
                                        <input type="checkbox" name="Category" id="category-@c.Id" value="@c.Id"/>
                                        <label for="category-@c.Id">@c.CategoryName</label>
                                    </div>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
